<!DOCTYPE html>
<html lang="en" dir="ltr">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <head>
    <meta charset="utf-8">
   <style>
  body {
  background-color: : black;
  
  background-image:url('static/film_background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
::placeholder { /* Firefox, Chrome, Opera */ 
    color: yellow; 
    font-size:15px;
} 
</style>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-light bg-light">
      <h1><a style="color:rgb(0, 139, 139);text-decoration: none;margin-left: 450px;" href="{{url_for('home')}}">Movie Recommender System</a></h1>
    </nav>
      <div class="jumbotron">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
